{% extends 'base.html.twig' %}

{% block title %}Edit Program{% endblock %}

{% block body %}
<div class="info-container">
    <div class="info-body">
    <p class="route d-flex justify-content-end">Edit Program</p>
    <table class="table table-bordered table-light text-center">
        <thead class="info-thead">
            <tr>
                <th>Program ID : {{ program.id }}</th>
            </tr>
        </thead>
                <tbody>
            <tr>
                <td>
                    <div class="edit-card">
                        <div class="edit-card--entity">
                        {{ form_start(form) }}
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}

                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}

                            {{ form_label(form.time) }}
                            {{ form_widget(form.time) }}

                     <div class="image-card d-flex justify-content-around align-items-center">
                    <div class="image-card d-flex justify-content-around align-items-center">
                    <p class="current-image">Current Image</p>
                     <img src="{{ asset('uploads/program_img/'~ program.imgPath) }}" alt="Program Image Abloc" style="margin:2px";>
                                          </div>
                    {{ form_label(form.img_path) }}
                    {{ form_widget(form.img_path) }}
                    {{ form_label(form.set_image_default) }}
                    {{ form_widget(form.set_image_default) }}
                     </div>
                        </div>  
                        <div class="new-card check-box--flex">
                            {{ form_label(form.exercises) }}
                            {{ form_widget(form.exercises) }}
                        </div>
                    </div>
                    <button class="btn btn-success btn-block">{{ button_label|default('Update') }}</button>
                    {{ form_end(form) }}
                    
                    {{ include('admin/program/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('admin_program_index') }}" button type="button" class="btn btn-primary btn-block">Back to list</a>
</div>
{% endblock %}