{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
<div class="wrapper-entity-form">
        <p class="d-flex justify-content-end">Program details</p>
        <p class="d-flex justify-content-end"><font color="#fff">Created At : {{ program.createdAt|date("m/d/Y") }}</p>
    <table class="table table-striped table-dark">
        <div class="d-flex justify-content-start">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="objects-list" role="tablist">
                <li class="nav-item-tab">
                <a class="nav-link active" href="#exercises" role="tab" aria-controls="exercises" aria-selected="true">Exercises</a>
                </li>
                <li class="nav-item-tab">
                <a class="nav-link"  href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
                </li>
                </ul>
            </div>
        <thead class="thead">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Time</th>
                <th>Image</th>
                <th>Mastery Level</th>
                <th>Actions</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.time }}</td>
                <td><img src="{{ asset('uploads/program_img/'~ program.imgPath) }}" alt="Program Image Abloc" style="width:30px;"></td>
                <td>{{ program.masteryLevel.title }}</td>
                <td>
                    <a href="{{ path('admin_program_edit', {'id': program.id}) }}" class="btn btn-warning fas fa-edit"></a>
                    {{ include('admin/program/_delete_small_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-dark">
        <thead class="thead">
            <tr><font color="#fff">Description</tr>
        </thead>
        <tbody>
                <td>{{ program.description }}</td>
        </tbody>
    </table>
    <table class="table table-striped table-dark">
        <thead class="thead">
            <tr><font color="#fff">Tabs</tr>
        </thead>
        <tbody>
            <td>
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="exercises" role="tabpanel">
                                {% for exercise in program.exercises %}
                                    <p class="card-text">{{ exercise.title }}</p>
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="users" role="tabpanel" aria-labelledby="users-tab">  
                                {% for user in program.users %}
                                    <p class="card-text">{{ user.accountName }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tbody>
    </table>
</div>
<!-- @TODO include fichier js pr supprimer ici -->
<script>$('#objects-list a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
{% endblock %}
