{% extends 'base.html.twig' %}

{% block title %}ProgramComment index{% endblock %}

{% block body %}
    <h1>ProgramComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program_comment in program_comments %}
            <tr>
                <td>{{ program_comment.id }}</td>
                <td>{{ program_comment.text }}</td>
                <td>
                    <a href="{{ path('admin_program_comment_show', {'id': program_comment.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('admin_program_comment_edit', {'id': program_comment.id}) }}" class="btn btn-warning">edit</a>
                    <a href="{{ path('admin_program_comment_delete', {'id': program_comment.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
