{% extends 'base.html.twig' %}

{% block title %}ProgramComment index{% endblock %}

{% block body %}
<div class="info-container">
    <div class="info-body">
    <p class="route d-flex justify-content-end">Program comment index</p>
    <table class="table table-striped table-bordered table-light text-center">
        <thead class="info-thead">
                <th>Id</th>
                <th>Text</th>
                <th>User</th>
                <th>Program</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program_comment in program_comments %}
            <tr>
                <td>{{ program_comment.id }}</td>
                <td>{{ program_comment.text }}</td>
                <td>@{{ program_comment.user.accountName }}</td>
                <td>{{ program_comment.program.title }}</td>
                <td>
                    <a href="{{ path('admin_program_comment_show', {'id': program_comment.id}) }}" class="btn btn-primary fas fa-search-plus"></a>
                    <a href="{{ path('admin_program_comment_edit', {'id': program_comment.id}) }}" class="btn btn-warning fas fa-edit"></a>
                    {{ include('admin/program_comment/_delete_small_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
