{% extends 'base.html.twig' %}

{% block title %}ProgramComment{% endblock %}

{% block body %}
    <h1>ProgramComment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program_comment.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ program_comment.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_program_comment_index') }}">back to list</a>

    <a href="{{ path('admin_program_comment_edit', {'id': program_comment.id}) }}">edit</a>

    {{ include('admin/program_comment/_delete_form.html.twig') }}
{% endblock %}
