{% extends 'base.html.twig' %}

{% block title %}ExerciseComment index{% endblock %}

{% block body %}
<div class="wrapper-entity-form">
    <h1>ExerciseComment index</h1>

    <table class="table table-striped table-dark">
        <thead class="thead">
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise_comment in exercise_comments %}
            <tr>
                <td>{{ exercise_comment.id }}</td>
                <td>{{ exercise_comment.text }}</td>
                <td>
                    <a href="{{ path('admin_exercise_comment_show', {'id': exercise_comment.id}) }}" class="btn btn-primary fas fa-search-plus"></a>
                    <a href="{{ path('admin_exercise_comment_edit', {'id': exercise_comment.id}) }}" class="btn btn-warning fas fa-edit"></a>
                    <a href="{{ path('admin_exercise_comment_delete', {'id': exercise_comment.id}) }}" class="btn btn-danger fas fa-trash-alt"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
