{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}

{% block title %}Recuperer le mot de passe{% endblock %}

{% block body %}
<div class="container">
<div class="wrapper-entity-form" >
    {{ form_start(form) }}
        <div class="text-light">Pour récupérer un nouveau mot de passe merci d'indiquer votre adresse e-mail :</div>
        {{ form_widget(form.email) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
        <button class="btn btn-warning btn-block">{{ button_label|default('Envoyer') }}</button>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
