{% extends 'recovery/recover_base.html.twig' %}
{% block header %}

{% endblock %}

{% block title %}Recuperer le mot de passe{% endblock %}

{% block body %}
    <div class="header">
        <div class="header--logo">
        </div>
        <div class="header--title">
            A'Bloc
        </div>
        <div class="header--text">
            Recuperation de mot de passe
        </div>
    </div>
<div class="page-content--container">
    <div class="recovery-form--container">
        {{ form_start(form) }}
        {{ form_label(form.email, 'Indiquez l\'adresse  e-mail de votre compte :', {'attr': {'class': 'recovery-form--label'}}) }}
        <div>{{ form_widget(form.email, {'attr': {'class': 'recovery-form--input'}}) }}</div>
        <button type="submit" class="recovery-form--btn">Réinitialiser</button>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
