{% extends 'base.html.twig' %}

{% block title %}Prerequisite index{% endblock %}

{% block body %}
<a href="{{ path('admin_exercise_new') }}" button type="button" class="btn btn-primary btn-block">Create New</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prerequisite in prerequisites %}
            <tr>
                <td>{{ prerequisite.id }}</td>
                <td>{{ prerequisite.description }}</td>
                <td>
                    <a href="{{ path('admin_prerequisite_show', {'id': prerequisite.id}) }}">show</a>
                    <a href="{{ path('admin_prerequisite_edit', {'id': prerequisite.id}) }}">edit</a>
                    <a href="{{ path('admin_prerequisite_delete', {'id': prerequisite.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
