{% extends 'base.html.twig' %}

{% block title %}Hint index{% endblock %}

{% block body %}
    <h1>Hint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hint in hints %}
            <tr>
                <td>{{ hint.id }}</td>
                <td>{{ hint.text }}</td>
                <td>
                    <a href="{{ path('admin_hint_show', {'id': hint.id}) }}">show</a>
                    <a href="{{ path('admin_hint_edit', {'id': hint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_hint_new') }}">Create new</a>
{% endblock %}
