{% extends 'base.html.twig' %}

{% block title %}Hint{% endblock %}

{% block body %}
<div class="info-container">
    <div class="info-body">
    <p class="route d-flex justify-content-end">Hint</p>
    <table class="table table-striped table-bordered table-light text-center">
        <thead class="info-thead">
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ hint.id }}</td>
                <td>{{ hint.text }}</td>
                <td>
                    <a href="{{ path('admin_hint_edit', {'id': hint.id}) }}" class="btn btn-warning fas fa-edit"></a>
                    {{ include('admin/hint/_delete_small_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
        <div class="back-list-button">
            <a href="{{ path('admin_hint_index') }}" button type="button" class="btn btn-primary btn-block">Back to list</a>
        </div>
    </div>
</div>
{% endblock %}
