{% extends 'base.html.twig' %}

{% block title %}Hint{% endblock %}

{% block body %}
    <h1>Hint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hint.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ hint.text }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <td><a href="{{ path('admin_hint_edit', {'id': hint.id}) }}" class="btn btn-success btn-block">Edit hint</a></td>
            <td>{{ include('admin/hint/_delete_form.html.twig') }}</td>
        </tbody>
    </table>
                <a href="{{ path('admin_hint_index') }}" button type="button" class="btn btn-primary btn-block">Back to list</a>
{% endblock %}
