{% extends 'base.html.twig' %}

{% block title %}Hint{% endblock %}

{% block body %}
    <h1>Hint</h1>
<div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell">
        Id
      </div>
      <div class="cell">
        Text
      </div>
      <div class="cell">
        Actions
      </div>
    </div>
    <div class="row">
      <div class="cell" data-title="Id">
        {{ hint.id }}
      </div>
      <div class="cell" data-title="Text">
        {{ hint.text }}
      </div>
      <div class="cell" data-title="Actions">
          <a href="{{ path('admin_hint_edit', {'id': hint.id}) }}" class="btn btn-success btn-block">Edit hint</a>
        {{ include('admin/hint/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
<a href="{{ path('admin_hint_index') }}" button type="button" class="btn btn-primary btn-block">Back to list</a>
{% endblock %}
