{% extends 'base.html.twig' %}

{% block title %}AccessLevel{% endblock %}

{% block body %}
    <h1>AccessLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ access_level.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ access_level.title }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ access_level.createdAt ? access_level.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ access_level.updatedAt ? access_level.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('access_level_index') }}">back to list</a>

    <a href="{{ path('access_level_edit', {'id': access_level.id}) }}">edit</a>

    {{ include('access_level/_delete_form.html.twig') }}
{% endblock %}
