{% extends 'base.html.twig' %}
{% block title %}Super Admin home{% endblock %}
{% block header %}{% endblock %}

{% block body %}
<a href="{{ path('super_admin_new') }}" button type="button" class="btn btn-primary btn-block">Create New</a>

    <table class="table table-striped table-bordered table-light text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('super_admin_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
