{{ form_start(form) }}
     {{ form_row(form.title) }}
     {{ form_row(form.time) }}
     {{ form_row(form.img_path) }}
     {{ form_row(form.description) }}
     {{ form_row(form.score) }}
     {{ form_row(form.hints) }}
     {{ form_row(form.prerequisites) }}
     {{ form_row(form.programs) }}
     {{ form_row(form.mastery_level) }}
    <button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
