{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block body %}
<a href="{{ path('admin_exercise_new') }}" button type="button" class="btn btn-primary btn-block">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.id }}</td>
                <td>{{ exercise.title }}</td>
                <td><img src="{{ asset('uploads/exercise_img/'~ exercise.imgPath) }}" alt="Logo Abloc" style="width:30px;"></td>
                <td>
                    <a href="{{ path('admin_exercise_show', {'id': exercise.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('admin_exercise_edit', {'id': exercise.id}) }}" class="btn btn-warning">edit</a>
                    <a href="{{ path('admin_exercise_delete', {'id': exercise.id}) }}" class="btn btn-danger">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
